@import "tailwindcss";

:root {
  --background: #fdfbf7;
  --foreground: #06402b;
  --color-emerald: #06402b;
  --color-gold: #d4af37;
  --color-sand: #fdfbf7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-emerald: var(--color-emerald);
  --color-gold: var(--color-gold);
  --color-sand: var(--color-sand);
  --font-tajawal: var(--font-tajawal);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-tajawal), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
